html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Lato", sans-serif !important;
}

p{
  margin-bottom: 0;
}

#root {
  background-color: #f5fff9;
  height: 100%;
}

.btn-outline-success {
  color: #fff !important;
}

.app-view{
  padding: .1rem;
}

.btn-submit{
  float: right !important;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
  }
}
