.modal {
    display: grid;
    background-color: rgba(18, 21, 44, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-body {
    background-color: #EDF2F4;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
}

.modal-open {
    display: grid;
}
